
html {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 1.5rem;
}

body {
  height: 100vh;
  background-color: #323232;
  text-align: center;
}

.logo {
  font-size: 2.8rem;
  font-weight: bold;
  padding: 0;
  margin: -1rem;
  color: #323232;
  text-shadow: -0.8px -0.8px 0 #08D9D6, 0.8px -0.8px 0 #08D9D6, -0.8px 0.8px 0 #08D9D6, 0.8px 0.8px 0 #08D9D6;
  font-family: 'Yellowtail', cursive;
}

.logo-part2 {
  font-size: 1.8rem;
}

.bolt {
  font-size: 2.9rem;
  transform: rotate(10deg);
}

.container-app {
  position: relative;
  margin: auto;
  width: 80vw;
  height: 85vh;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 2rem;
}

.insights {
  grid-row: 2 / span 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.current-budget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desired-budget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance-change {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.budget-remaining {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BALANCE */
.balance {
  padding: 0 3%;
  grid-column: span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: solid 1px white;
}

.balance-label {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: -0.5rem;
}

.balance-date {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.balance-value {
  font-size: 2rem;
  margin-bottom: 3rem;
}

/* TRANSACTIONS */
.transactions {
  grid-row: 2 / span 3;
  overflow: auto;
  text-align: left;
}

.date-row {
  padding: 2% 5%;
  background-color: #EAEAEA;
  color: black;
}

.transaction-row {
  padding: 4% 5%;
  display: flex;
  border-bottom: solid 1px #EAEAEA;
}

.transaction-category {
  font-weight: 500;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.transaction-date {
  font-weight: 500;
}

.transaction-positive {
  color: #08D9D6;
}

.transaction-negative {
  color: #FF2E63;
}

.transaction-value {
  margin-left: auto;
}


/* ADD TRANSACTION */
.add-transaction {
  grid-row: span 2;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: 0.2fr 1fr repeat(2, 0.1fr) 1fr 0.2fr;
  grid-template-rows: repeat(2, 1fr) repeat(2, 0.3fr) 1.2fr;
  gap: 0.5rem 1.8rem;
  padding: 4% 0;
  border: solid 2px rgb(0, 173, 181);
  background-color: rgb(0, 173, 181, 0.4);
  border-radius: 1rem;
}

.form-label-categories {
  grid-column: 2 / span 2;
}

.form-label-amount {
  grid-column: 4 / span 2;
}

.transaction-categories {
  grid-column: 2 / span 2;
  grid-row: span 2;
}

.transaction-amount {
  grid-column: span 2;
  grid-row: span 2;
}

.form-item {
  text-align: center;
  border: none;
  border-radius: 0.7rem;
}

.form-btn {
  grid-row: 5;
  grid-column: 3 / span 2;
  border-radius: 0.7rem;
  background-color: #fff;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.section-heading {
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 2%;
  align-self: flex-start;
}

/* ---------- GRAPHS ---------- */
.chart-container {
  height: 99%;
}
