
html {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  height: 100vh;
  background-color: #323232;
  text-align: center;
  padding: 1%;
}

.logo {
  font-size: 2.8rem;
  font-weight: bold;
  padding: 0;
  margin: -0.5rem;
  color: #323232;
  text-shadow: -0.8px -0.8px 0 #08D9D6, 0.8px -0.8px 0 #08D9D6, -0.8px 0.8px 0 #08D9D6, 0.8px 0.8px 0 #08D9D6;
  font-family: 'Yellowtail', cursive;
}

.logo-part2 {
  font-size: 1.8rem;
}

.bolt {
  font-size: 2.9rem;
  transform: rotate(10deg);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px white; */
}

.container-app {
  position: relative;
  margin: auto;
  width: 85vw;
  height: 85vh;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 0.2fr 2fr 0.2fr 1fr;
  gap: 2rem;
}

.insights {
  grid-row: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.current-budget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desired-budget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance-change {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.budget-remaining {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BALANCE */
.balance {
  padding: 0 3%;
  grid-column: span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: solid 1px white;
}

.balance-label {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: -0.5rem;
}

.balance-date {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.balance-value {
  font-size: 2rem;
  /* margin-bottom: 3rem; */
}

/* TRANSACTIONS */
.transactions {
  grid-row: 2;
  overflow: auto;
  text-align: left;
}

.date-row {
  padding: 2% 5%;
  background-color: #EAEAEA;
  color: black;
}

.transaction-row {
  padding: 4% 5%;
  display: flex;
  border-bottom: solid 1px #EAEAEA;
}

.transaction-category {
  font-weight: 500;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.transaction-date {
  font-weight: 500;
}

.transaction-positive {
  color: #08D9D6;
}

.transaction-negative {
  color: #FF2E63;
}

.transaction-value {
  margin-left: auto;
}

/* SUMMARY */
.summary {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  margin: 0;
}

.label-summary {
  font-size: 1.3rem;
}

/* ADD TRANSACTION */
.add-transaction {
  text-align: center;
}

.form-container {
  border: solid 2px rgb(0, 173, 181);
  background-color: rgb(0, 173, 181, 0.4);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 15px;
  align-items: center;
  justify-content: center;
}

.category-container {
  grid-column: 1;
  display: grid;
}

.amount-container {
  grid-column: 2;
  display: grid;
}

.date-container {
  grid-column: 3;
  display: grid;
}

.form-input {
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  width: 120px;
  height: 25px;
  margin-top: 5px;
}

.button-container {
  grid-column: 2;
}

.form-btn {
  border-radius: 0.7rem;
  background-color: #fff;
  cursor: pointer;
  font-family: inherit;
  border: none;
  width: 70px;
  height: 30px;
}

.section-heading {
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 2%;
  align-self: flex-start;
}

/* ---------- GRAPHS ---------- */
.chart-container {
  height: 99%;
}
